section.about-hero.section__gapper
  .wrapper
    .about-hero__wrapper
      h1.section__title О компании
      .about-hero__video
        //- button.about-hero__button(type="button")
        //- svg(width="81" height="80" viewBox="0 0 81 80" fill="none" xmlns="http://www.w3.org/2000/svg")
        //- circle(cx="40.5" cy="40" r="40" fill="#00738E")
        //- path(d="M60.5 40.5L31.25 57.3875L31.25 23.6125L60.5 40.5Z" fill="white")
        //- span Посмотреть видео о компании
        iframe(
          src="https://www.youtube.com/embed/-CTlz5PJRZs?si=2aogKMc_2SS02gbl"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
          frameborder="0"
          title="YouTube video player"
          width="560"
          height="315"
        )
      .about-hero__content
        p Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est <span>sit aliqua dolor do amet sint.</span>
        p <a href="#">Amet minim mollit</a> <span>non deserunt ullamco</span> est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
        p Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est <span>sit aliqua dolor do amet sint.</span> Amet minim mollit non deserunt ullamco est <span>sit aliqua dolor do amet sint.</span> Amet minim mollit non deserunt ullamco est <span>sit aliqua dolor do amet sint.</span>
        p Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Amet minim mollit non deserunt ullamco est <span>sit aliqua dolor do amet sint.</span> Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est <span>sit aliqua dolor do amet sint.</span>