section.callback.section__gapper.section-gray
  .wrapper
    .callback__wrapper
      .callback__header
        h2.section__title Обратная связь
        h3 У вас есть вопросы? Закажите звонок!
        p Оставьте ваши контактные данные, <br>наши менеджеры свяжутся с вами в ближайшее время и проконсультируют по вашему вопросу
      form.callback__form(action="#")
        .callback__form__label.label-name
          span Ваше имя <span class="service-popup__label-required">*</span>
          input.callback__form__input(
            type="text"
            placeholder="Введите имя"
            autocomplete="off"
            maxlength="50"
            minlength="2"
            name="name"
            required
          )
          img.success(
            src="/assets/images/icons/check-circle-green.svg"
            alt="check-circle-green"
          )
          img.error(
            src="/assets/images/icons/error-circle-red.svg"
            alt="error-circle-red"
          )
        .callback__form__label.label-phone
          span Телефон <span class="service-popup__label-required">*</span>
          input.callback__form__input(
            type="text"
            placeholder="+7 (___) ___-__-__"
            autocomplete="off"
            name="phone"
            required
          )
          img.success(
            src="/assets/images/icons/check-circle-green.svg"
            alt="check-circle-green"
          )
          img.error(
            src="/assets/images/icons/error-circle-red.svg"
            alt="error-circle-red"
          )
        .callback__form__label.label-email
          span E-mail
          input.callback__form__input(
            type="email"
            placeholder="Введите ваш e-mail"
            autocomplete="off"
            name="email"
          )
          img.success(
            src="/assets/images/icons/check-circle-green.svg"
            alt="check-circle-green"
          )
          img.error(
            src="/assets/images/icons/error-circle-red.svg"
            alt="error-circle-red"
          )
        button.callback__form__button(type="submit") Оформить заказ
        .callback__form__policy Нажимая кнопку "Оформить заказ", вы даете согласие на обработку ваших персональных данных.
      .callback__footer
        img(src="/assets/images/icons/info-green.svg" alt="info-green")
        p Звонки осуществляются с <span>Пн.- Пт.: 09:00-18:00</span>