header.header
  .wrapper
    .header__wrapper
      a.header__logo(href="/")
        svg(
          fill="none"
          viewBox="0 0 90 30"
          xmlns="http://www.w3.org/2000/svg"
          width="90"
          height="30"
        )
          g(clip-path="url(#clip0_481_63)")
            path(
              d="M89.9999 10.7127H84.7271V23.9713H79.9195V10.7127H74.6208V6.89894H89.9999V10.7127Z"
              fill="white"
            )
            path(
              d="M55.9075 6.89894H60.7151V16.9325L67.823 6.89894H72.4238V23.9713H67.6163V13.9634L60.5083 23.9713H55.9075V6.89894Z"
              fill="white"
            )
            path(
              d="M47.714 23.9713L47.6881 14.9104L43.2683 22.282H41.0971L36.6514 15.1152V23.9713H32.1798V6.89894H36.1861L42.2602 16.7533L48.1534 6.89894H52.1855L52.2372 23.9713H47.714Z"
              fill="white"
            )
            path(
              clip-rule="evenodd"
              d="M3.38599 20.0296L6.69443 20.3879V27.2476L3.38599 26.0446V20.0296Z"
              fill="white"
              fill-rule="evenodd"
            )
            path(
              clip-rule="evenodd"
              d="M8.11597 20.5415L12.9752 21.079V29.5L8.11597 27.7595V20.5415Z"
              fill="white"
              fill-rule="evenodd"
            )
            path(
              clip-rule="evenodd"
              d="M0 13.3491L2.37794 12.8884V18.6474L0 18.5194V13.3491Z"
              fill="white"
              fill-rule="evenodd"
            )
            path(
              clip-rule="evenodd"
              d="M3.38599 12.6836L6.69443 12.0181V18.8778L3.38599 18.6986V12.6836Z"
              fill="white"
              fill-rule="evenodd"
            )
            path(
              clip-rule="evenodd"
              d="M8.11597 11.7365L12.9752 10.7895V19.2105L8.11597 18.9545V11.7365Z"
              fill="white"
              fill-rule="evenodd"
            )
            path(
              clip-rule="evenodd"
              d="M0 7.02691L2.37794 5.82391V11.6086L0 12.1973V7.02691Z"
              fill="white"
              fill-rule="evenodd"
            )
            path(
              clip-rule="evenodd"
              d="M3.38599 5.3376L6.69443 3.67387V10.5079L3.38599 11.3526V5.3376Z"
              fill="white"
              fill-rule="evenodd"
            )
            path(
              clip-rule="evenodd"
              d="M8.11597 2.95719L12.9752 0.5V8.92101L8.11597 10.1496V2.95719Z"
              fill="white"
              fill-rule="evenodd"
            )
            path(
              clip-rule="evenodd"
              d="M0 19.6712L2.37794 19.9272V25.6862L0 24.8416V19.6712Z"
              fill="white"
              fill-rule="evenodd"
            )
            path(
              clip-rule="evenodd"
              d="M14.8622 0.5L27.8375 4.26258V10.7127L14.8622 8.92101V0.5Z"
              fill="white"
              fill-rule="evenodd"
            )
            path(
              clip-rule="evenodd"
              d="M14.8622 21.079L27.8375 20.0296V26.4541L14.8622 29.5V21.079Z"
              fill="white"
              fill-rule="evenodd"
            )
          defs
            clippath#clip0_481_63
              rect(
                fill="white"
                transform="translate(0 0.5)"
                width="90"
                height="29"
              )
      nav.header__menu
        .header__link
          a(href="/about/") О компании
        .header__link.header__dropdown
          a(href="/services/") Услуги
          svg(
            fill="none"
            viewBox="0 0 13 12"
            xmlns="http://www.w3.org/2000/svg"
            width="13"
            height="12"
          )
            path(
              d="M2.42859 4.5L6.42859 8.5L10.4286 4.5"
              stroke="white"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5"
            )
          .header__list
            a.header__link(href="/service/")
              h2 Производство НВФ, доборных элементов, подсистемы, профнастила
              svg(
                fill="none"
                viewBox="0 0 12 12"
                xmlns="http://www.w3.org/2000/svg"
                width="12"
                height="12"
              )
                path(
                  d="M4.5 10L8.5 6L4.5 2"
                  stroke="#00738E"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="1.5"
                )
            a.header__link(href="/service/")
              h2 Лазерная резка металла
              svg(
                fill="none"
                viewBox="0 0 12 12"
                xmlns="http://www.w3.org/2000/svg"
                width="12"
                height="12"
              )
                path(
                  d="M4.5 10L8.5 6L4.5 2"
                  stroke="#00738E"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="1.5"
                )
            a.header__link(href="/service/")
              h2 Гибка листового металлопроката
              svg(
                fill="none"
                viewBox="0 0 12 12"
                xmlns="http://www.w3.org/2000/svg"
                width="12"
                height="12"
              )
                path(
                  d="M4.5 10L8.5 6L4.5 2"
                  stroke="#00738E"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="1.5"
                )
            a.header__link(href="/service/")
              h2 Координатная пробивка отверстий в металле
              svg(
                fill="none"
                viewBox="0 0 12 12"
                xmlns="http://www.w3.org/2000/svg"
                width="12"
                height="12"
              )
                path(
                  d="M4.5 10L8.5 6L4.5 2"
                  stroke="#00738E"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="1.5"
                )
            a.header__link(href="/service/")
              h2 Порошковая покраска изделий
              svg(
                fill="none"
                viewBox="0 0 12 12"
                xmlns="http://www.w3.org/2000/svg"
                width="12"
                height="12"
              )
                path(
                  d="M4.5 10L8.5 6L4.5 2"
                  stroke="#00738E"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="1.5"
                )
            a.header__link(href="/service/")
              h2 Проектирование фасадов зданий и строений различного назначения
              svg(
                fill="none"
                viewBox="0 0 12 12"
                xmlns="http://www.w3.org/2000/svg"
                width="12"
                height="12"
              )
                path(
                  d="M4.5 10L8.5 6L4.5 2"
                  stroke="#00738E"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="1.5"
                )
            a.header__link(href="/service/")
              h2 Строительно-монтажные работы
              svg(
                fill="none"
                viewBox="0 0 12 12"
                xmlns="http://www.w3.org/2000/svg"
                width="12"
                height="12"
              )
                path(
                  d="M4.5 10L8.5 6L4.5 2"
                  stroke="#00738E"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="1.5"
                )
        .header__link
          a(href="/equipment/") Оборудование
        .header__link
          a(href="/works/") Наши работы
        .header__link
          a(href="#") Новости
        .header__link
          a(href="/clients/") Клиентам
        .header__link
          a(href="/contacts/") Контакты
      a.header__phone(href="tel:+7 (495) 023-01-41")
        svg(
          fill="none"
          viewBox="0 0 18 18"
          xmlns="http://www.w3.org/2000/svg"
          width="18"
          height="18"
        )
          path(
            d="M12.375 15.75C6.79219 15.75 2.25 11.2078 2.25 5.62501C2.25211 4.66739 2.6019 3.74312 3.23432 3.02405C3.86675 2.30497 4.73878 1.84002 5.68828 1.71563C5.93033 1.68879 6.17463 1.73975 6.38577 1.86112C6.5969 1.98249 6.76388 2.16796 6.8625 2.39063L8.27578 5.68829C8.34909 5.85946 8.37848 6.04623 8.36129 6.23164C8.3441 6.41705 8.28087 6.59523 8.17734 6.75001L7.01016 8.53594C7.53868 9.60856 8.40955 10.4745 9.48516 10.9969L11.25 9.82266C11.4046 9.71844 11.5832 9.65535 11.769 9.63936C11.9548 9.62337 12.1416 9.65499 12.3117 9.73126L15.6094 11.1375C15.832 11.2361 16.0175 11.4031 16.1389 11.6142C16.2603 11.8254 16.3112 12.0697 16.2844 12.3117C16.16 13.2612 15.695 14.1333 14.976 14.7657C14.2569 15.3981 13.3326 15.7479 12.375 15.75ZM5.82891 2.8336C5.15036 2.92083 4.52686 3.25239 4.07517 3.76621C3.62347 4.28003 3.37455 4.94087 3.375 5.62501C3.37686 8.01138 4.32567 10.2995 6.0131 11.9869C7.70052 13.6743 9.98862 14.6231 12.375 14.625C13.0591 14.6255 13.72 14.3765 14.2338 13.9248C14.7476 13.4731 15.0792 12.8497 15.1664 12.1711L11.8688 10.7649L10.1109 11.9391C9.9492 12.046 9.76257 12.1093 9.56915 12.1229C9.37574 12.1364 9.1821 12.0997 9.00703 12.0164C7.69707 11.3827 6.63745 10.3281 5.99766 9.0211C5.9133 8.84662 5.87545 8.65331 5.88777 8.45991C5.90009 8.2665 5.96216 8.07956 6.06797 7.91719L7.24219 6.13126L5.82891 2.8336Z"
            fill="white"
          )
        span +7 (495) 023-01-41
      .header__burger
        svg(
          fill="none"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
        )
          path(
            d="M2.5 10H17.5"
            stroke="#ffffff"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
          )
          path(
            d="M2.5 5H17.5"
            stroke="#ffffff"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
          )
          path(
            d="M2.5 15H17.5"
            stroke="#ffffff"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
          )
.header__mobmenu
  .header__mobmenu__close
    svg(
      fill="none"
      viewBox="0 0 32 32"
      xmlns="http://www.w3.org/2000/svg"
      width="32"
      height="32"
    )
      path(
        d="M24.4003 7.61333C24.2769 7.48973 24.1304 7.39167 23.9691 7.32476C23.8078 7.25785 23.6349 7.22341 23.4603 7.22341C23.2857 7.22341 23.1128 7.25785 22.9515 7.32476C22.7902 7.39167 22.6436 7.48973 22.5203 7.61333L16.0003 14.12L9.4803 7.6C9.35686 7.47656 9.21031 7.37864 9.04902 7.31183C8.88774 7.24502 8.71487 7.21064 8.5403 7.21064C8.36572 7.21064 8.19286 7.24502 8.03157 7.31183C7.87029 7.37864 7.72374 7.47656 7.6003 7.6C7.47686 7.72344 7.37894 7.86999 7.31213 8.03128C7.24532 8.19256 7.21094 8.36543 7.21094 8.54C7.21094 8.71458 7.24532 8.88744 7.31213 9.04873C7.37894 9.21001 7.47686 9.35656 7.6003 9.48L14.1203 16L7.6003 22.52C7.47686 22.6434 7.37894 22.79 7.31213 22.9513C7.24532 23.1126 7.21094 23.2854 7.21094 23.46C7.21094 23.6346 7.24532 23.8074 7.31213 23.9687C7.37894 24.13 7.47686 24.2766 7.6003 24.4C7.72374 24.5234 7.87029 24.6214 8.03157 24.6882C8.19286 24.755 8.36572 24.7894 8.5403 24.7894C8.71487 24.7894 8.88774 24.755 9.04902 24.6882C9.21031 24.6214 9.35686 24.5234 9.4803 24.4L16.0003 17.88L22.5203 24.4C22.6437 24.5234 22.7903 24.6214 22.9516 24.6882C23.1129 24.755 23.2857 24.7894 23.4603 24.7894C23.6349 24.7894 23.8077 24.755 23.969 24.6882C24.1303 24.6214 24.2769 24.5234 24.4003 24.4C24.5237 24.2766 24.6217 24.13 24.6885 23.9687C24.7553 23.8074 24.7897 23.6346 24.7897 23.46C24.7897 23.2854 24.7553 23.1126 24.6885 22.9513C24.6217 22.79 24.5237 22.6434 24.4003 22.52L17.8803 16L24.4003 9.48C24.907 8.97333 24.907 8.12 24.4003 7.61333Z"
        fill="#ffffff"
      )
  .header__mobmenu__container.custom-scroll(data-scroll-lock-scrollable)
    .header__mobmenu__link
      a(href="/about/") О компании
    .header__mobmenu__link.header__mobmenu__dropdown
      .header__mobmenu__dropdown__main
        a(href="/services/") Услуги
        img(
          src="/assets/images/icons/angle-down-white.svg"
          alt="angle-down-white"
        )
      .header__mobmenu__list(data-scroll-lock-scrollable)
        a.header__mobmenu__list__link(href="/service/")
          span Производство НВФ, доборных элементов, подсистемы, профнастила
        a.header__mobmenu__list__link(href="/service/")
          span Лазерная резка металла
        a.header__mobmenu__list__link(href="/service/")
          span Гибка листового металлопроката
        a.header__mobmenu__list__link(href="/service/")
          span Координатная пробивка отверстий в металле
        a.header__mobmenu__list__link(href="/service/")
          span Порошковая покраска изделий
        a.header__mobmenu__list__link(href="/service/")
          span Проектирование фасадов зданий и строений различного назначения
        a.header__mobmenu__list__link(href="/service/")
          span Строительно-монтажные работы
    .header__mobmenu__link
      a(href="/equipment/") Оборудование
    .header__mobmenu__link
      a(href="/works/") Наши работы
    .header__mobmenu__link
      a(href="/clients/") Клиентам
    .header__mobmenu__link
      a(href="#") Новости
    .header__mobmenu__link
      a(href="/contacts/") Контакты
  a.header__mobmenu__phone(href="tel:+7 (495) 023-01-41")
    svg(
      fill="none"
      viewBox="0 0 18 18"
      xmlns="http://www.w3.org/2000/svg"
      width="18"
      height="18"
    )
      path(
        d="M12.375 15.75C6.79219 15.75 2.25 11.2078 2.25 5.62501C2.25211 4.66739 2.6019 3.74312 3.23432 3.02405C3.86675 2.30497 4.73878 1.84002 5.68828 1.71563C5.93033 1.68879 6.17463 1.73975 6.38577 1.86112C6.5969 1.98249 6.76388 2.16796 6.8625 2.39063L8.27578 5.68829C8.34909 5.85946 8.37848 6.04623 8.36129 6.23164C8.3441 6.41705 8.28087 6.59523 8.17734 6.75001L7.01016 8.53594C7.53868 9.60856 8.40955 10.4745 9.48516 10.9969L11.25 9.82266C11.4046 9.71844 11.5832 9.65535 11.769 9.63936C11.9548 9.62337 12.1416 9.65499 12.3117 9.73126L15.6094 11.1375C15.832 11.2361 16.0175 11.4031 16.1389 11.6142C16.2603 11.8254 16.3112 12.0697 16.2844 12.3117C16.16 13.2612 15.695 14.1333 14.976 14.7657C14.2569 15.3981 13.3326 15.7479 12.375 15.75ZM5.82891 2.8336C5.15036 2.92083 4.52686 3.25239 4.07517 3.76621C3.62347 4.28003 3.37455 4.94087 3.375 5.62501C3.37686 8.01138 4.32567 10.2995 6.0131 11.9869C7.70052 13.6743 9.98862 14.6231 12.375 14.625C13.0591 14.6255 13.72 14.3765 14.2338 13.9248C14.7476 13.4731 15.0792 12.8497 15.1664 12.1711L11.8688 10.7649L10.1109 11.9391C9.9492 12.046 9.76257 12.1093 9.56915 12.1229C9.37574 12.1364 9.1821 12.0997 9.00703 12.0164C7.69707 11.3827 6.63745 10.3281 5.99766 9.0211C5.9133 8.84662 5.87545 8.65331 5.88777 8.45991C5.90009 8.2665 5.96216 8.07956 6.06797 7.91719L7.24219 6.13126L5.82891 2.8336Z"
        fill="white"
      )
    span +7 (495) 023-01-41