section.hero
  .hero__video
    video(src="/assets/video/video.mp4" poster="/assets/images/poster.jpg")
  .wrapper
    .hero__wrapper
      h1 Мы проектируем проекты и выполняем объекты большой инженерной ёмкости
      ul.hero__items
        li <span>6</span> листогибочных прессов Durma с ЧПУ
        li <span>2</span> покрасочные линии
        li <span>7</span> установок лазерной сварки
        li <span>3</span> лазерных станка
        li Координатно пробивное устройство с ЧПУ
        li Продольно-поперечная резка RUSCANA
      a.hero__button(href="#calculator")
        span Заказать услугу
        svg(
          fill="none"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
        )
          path(
            d="M14 18L12.6 16.55L16.15 13H4V11H16.15L12.6 7.45L14 6L20 12L14 18Z"
            fill="white"
          )