include ../mixins/work.pug
section.works.section__gapper
  .wrapper
    .works__wrapper
      .works__title
        h2.section__title
          span Наши работы
        a.works__title__more(href="#")
          p смотреть все
          svg(
            fill="none"
            viewBox="0 0 24 25"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="25"
          )
            path(
              d="M14 18.5L12.6 17.05L16.15 13.5H4V11.5H16.15L12.6 7.95L14 6.5L20 12.5L14 18.5Z"
              fill="#00738E"
            )
      .works__items
        +work('/assets/images/work.png', 'work', 'Жилой комплекс “Play”', '')
        +work('/assets/images/work.png', 'work', 'Жилой комплекс “Play”', '')
        +work('/assets/images/work.png', 'work', 'Жилой комплекс “Play”', '')
        +work('/assets/images/work.png', 'work', 'Жилой комплекс “Play”', '')
        +work('/assets/images/work.png', 'work', 'Жилой комплекс “Play”', '')
        +work('/assets/images/work.png', 'work', 'Жилой комплекс “Play”', '')
      button.works__more(type="button")
        span Показать еще